# region
aws_region = ""

# vpc
name = ""
cidr_block = ""

# subnets
subnet1_name = ""
subnet1_cidr_block = ""

subnet2_name = ""
subnet2_cidr_block = ""

subnet3_name = ""
subnet3_cidr_block = ""

subnet4_name = ""
subnet4_cidr_block = ""

# internet gateways
igw_name = ""

# route tables
route_table_name-main = ""
